<h1 style="text-align: center; background-color: #f7b285" class="display-1">
 {{title | uppercase}}
</h1>
<br />

<ol class="list-group list-group-numbered">
  <li
    class="list-group-item d-flex justify-content-between align-items-start"
    *ngFor="let s of students; index as i">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{ s.firstname | uppercase}} {{ s.lastname | uppercase }}</div>
      Student has a subject combination of {{ s.subject }}
    </div>
    <button type="submit" (click)="deleteStudent(s,i)   " style="background-color: red;" class="btn-close" aria-label="Close"></button>
  </li>
</ol>
