

<h1 style="text-align: center; background-color: #f7b285; margin-top: 20px; margin-bottom: 10;" class="display-1">
  Student Management
</h1>
<br/>
<br/>
<div style="margin-top:15 ; margin-bottom: 20;" class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill=" #F1853E "></rect>
          <text x="50%" y="50%" style="text-align:center ;" fill="#000000 " dy=".3em">About Us</text>
        </svg>

        <div class="card-body">
          <p class="card-text">
            A Student Management System is also known as a Student Information System (SIS). 
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="about" class="btn btn-sm btn-outline-secondary">
                View
              </button>
        
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#F1853E "></rect>
          <text x="50%" y="50%" fill="#000000" dy=".3em">Register yourself</text>
        </svg>

        <div class="card-body">
          <p class="card-text">
           Register Yourself if you are a student of the insitute
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="register" class="btn btn-sm btn-outline-secondary">
                View
              </button>
            
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#F1853E "></rect>
          <text x="50%" y="50%" fill="#000000" dy=".3em">Contact Us</text>
        </svg>

        <div class="card-body">
          <p class="card-text">
            To know more and learn about admissions Contact us now!
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="contact" class="btn btn-sm btn-outline-secondary">
                View
              </button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
